body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.git-logo {
    margin-left: 80px !important;
}

.input-row {
    margin-top: 50px !important;
}